Data/Local
Data/Retest_Data_NewApi
Data/Retest_02-11-2017/Local
Data/Retest_03-21-2017/Local
Data/Retest_09-27-2017/Local
Data/Retest_11-27-2017/Local
Data/Complete_10-27-2017/Local
Data/Retest_02-11-2017/batch_output
Data/Retest_03-21-2017/batch_output
Data/Retest_09-27-2017/batch_output
Data/Retest_11-27-2017/batch_output
Data/Complete_10-27-2017/batch_output
data_preparation/old
Plots
.Rhistory
.fuse*
*.pyl
.ipynb_checkpoints
*.pyc
*.nb.html
*.egg-info
.spyproject/
*.pkl
*.pdf
*.Rdata
.eggs
internal_settings.json
Self_Regulation_*Settings.txt
dimensional_structure/Output/*/*ID*
# directories
.spyproject/
Data/Local
Data/Retest_Data_NewApi
Data/Retest_02-11-2017/Local
Data/Retest_02-11-2017/batch_output
data_preparation/old
Plots
batch_files/*csv
batch_files/*model
batch_files/*.db
batch_files/.out
batch_files/.err
batch_files/output
batch_files/hddm*
batch_files/previous_models
temp
build
dist*
